* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content{
  margin: 0px;
  transition: 200ms;
  padding: 0;
  height: 100%;
}

label{
  font-weight: bold;
}

.content.active{
  margin-left: 250px;
  transition: 200ms;
}

.mini-content{
  margin: 20px;
}

.content>.breadcrumb {
  padding: 10px;
}

.breadcrumb {
  position: relative;
  border-radius: 0;
  border-bottom: 1px solid #c8ced3;
}

